# Allow load ab2p resources from sites with CSP policies applied
SERVER-HEADER-FILTER: allow-custom-css "Add ${NGINX_SERVER_NAME} to style-src in CSP"
s/(style-src\s+)(?![^;]*${NGINX_SERVER_NAME})([^;]*)(;)/$1$2 ${NGINX_SERVER_NAME}$3/gmi
s/^Content-Security-Policy:\s+(?!.*style-src)(.*?)(default-src\s+)(?![^;]*${NGINX_SERVER_NAME})([^;]*)(;)/Content-Security-Policy: $1$2$3 ${NGINX_SERVER_NAME}$4/mi
